:root {
  --clr-white: #ffffff;
  --clr-red: #dc2626;
  --clr-red1: #e61f23;
  --clr-liverred :#D30708;
  --clr-lightgray: #a1a1a1;
  --clr-lightgray1: #a3a3a3;
  --clr-midgray: #878787;
  --clr-darkgray: #676767;
  --clr-black: #000000;
  --clr-nero: #161616;
  --clr-light: #f3f3f3;
  --clr-light2: #e4e4e4;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xss: 0.6rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy-SemiBold";
}

a {
  font-family: "Gilroy-SemiBold";
  color: var(--clr-darkgray);
}

li {
  font-family: "Gilroy-SemiBold";
}
.logo_redcloud{
  display: flex;
  justify-content: center;

}
.phrase_submitted  {
  
  font-family: 'Gilroy-Medium', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--clr-nero);
  margin-top: 0.5rem;
  
}
.border_in_successful_page {
  width: 278px;
  height: 80px;
  border: 1px solid #D1D1D1;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  
}
.cont_successful_pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh; 
  margin: 0;
  border :1px solid red;
}
.little_rectangle{
  width: 4px;
  height: 36px;
  border-radius: 4px;
  background-color:#D30708;
  display:flex;
  margin-right: 15rem;
  margin-top: 1.4rem;
}
.paragraph_in_successful_pg {
  color: #3E3E3E;
  display: flex;
  justify-content: center;
  font-family: 'Gilroy-Medium', sans-serif;
}
.w-email_successful{
  color: #9E9E9E;
  display: flex;
}
.back_to_page_btn {
  display: flex;
  flex-direction:row;
  margin:auto;
  text-decoration:none;
  background-color: #D30708;
  font-family: 'Gilroy-Medium', sans-serif;
  border:none;
  
}

.back_to_page_btn a {
  text-decoration: none;
  color:#FFFFFF ;
  
}

.back_to_page{
  width: 303.32px;
  height: 50px;
  border-radius: 61px;
  border:1px solid red;
  color:#D30708;
  display: flex;
  margin-top: 3rem;
  display:flex;
  background-color: #D30708;
}